{
  "extends": "eslint-config-airbnb",
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "import/no-mutable-exports": 0,
    "import/prefer-default-export": 0,
    "linebreak-style": 0,
    "no-undef": 0,
    "quotes": 0,
    "comma-dangle": 0,
    "no-unused-vars": 0,
    "no-case-declarations": 0,
    "eqeqeq": 0,
    "prefer-const": 0,
    "default-case": 0,
    "global-require": 0,
    "no-var": 0,
  }
}
